[Desktop Entry]
Type=Application
Exec=/home/uladkasach/git/more/dev-env-setup/src/utils/caps2ctrlesc/caps2ctrlesc.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Caps2CtrlEsc
Name=Caps2CtrlEsc
Comment[en_US]=Caps -> Ctrl Modifier + Escape Solo
Comment=Caps -> Ctrl Modifier + Escape Solo
